body {
  position: relative;
  background: #ebedf1;
  min-height: 100vh;
  font-size: 16px;
  overflow-x: hidden;
  /* font-family: "Inter", sans-serif; */
  margin: 0px;
}

.container1 {
  display: flex;
}

.container2 {
  background-image: url(./images/smiling.jpg);
  height: 100vh;
  width: 41.666667%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(86, 204, 242, 0.8);
  background-position: center center;
  border-radius: 0 10px 10px 0;
}

.gigm {
  margin: 50px;
  margin-left: 85px;
  height: 70px;
  width: 70px;
  cursor: pointer;
}

.gigm:hover {
  animation: shake;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

@keyframes shake {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(7px);
  }
  40% {
    transform: translateX(-7px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.africa {
  color: white;
  margin-left: 85px;
  margin-top: -7px;
  font-family: sans-serif;
  font-size: 26.5px;
  font-weight: 1000;
}

.road {
  color: white;
  margin-left: 85px;
  font-size: larger;
  font-family: sans-serif;
  line-height: 30px;
}

.book {
  font-family: sans-serif;
  color: rgb(36, 35, 35);
  font-size: 23px;
  margin-top: 170px;
  margin-left: 190px;
  text-align: center;
  font-weight: 800;
}

.container6 {
  background-image: url(./images/blue.png);
  width: 200px;
  height: 300px;
  position: relative;
  background-repeat: no-repeat;
  margin-left: 180px;
  margin-top: 30px;
}

.up {
  text-decoration: none;
}

.arrow1 {
  margin-left: 85px;
  margin-top: 100px;
  cursor: pointer;
}

.arrow1:hover {
  animation: arrow2;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

@keyframes arrow2 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(7px);
  }
  40% {
    transform: translateX(-7px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.sign {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 8px;
  margin-top: 10px;
  text-align: center;
}

.account {
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
}

.container5 {
  display: flex;
}

.container7 {
  background: rgba(255, 255, 255, 0.8);
  border: 2px dashed #56ccf2;
  box-sizing: border-box;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 8%);
  border-radius: 8px;
  width: 200px;
  margin: auto;
  height: 238px;
  position: relative;
  text-align: center;
  margin-top: 30px;
}

.arrow2 {
  vertical-align: middle;
  margin: auto;
  margin-top: 100px;
}

.arrow2:hover {
  animation: arrow3;
  animation-duration: 0.8s;
  animation-timing-function: linear;
}

@keyframes arrow3 {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(7px);
  }
  40% {
    transform: translateX(-7px);
  }
  60% {
    transform: translateX(4px);
  }
  80% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0px);
  }
}

.account1 {
  text-decoration: none;
}

.continue {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 10px;
  color: rgb(79, 79, 79);
  margin-bottom: 8px;
  margin-top: 25px;
  text-align: center;
}

.enjoy {
  text-align: center;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(79, 79, 79);
}

.formbox {
  background: #ffffff;
  box-shadow: 0px 40px 80px rgb(0 0 0 / 8%);
  border-radius: 10px;
  padding: 40px;
  width: 560px;
  max-width: 100%;
  height: 350px;
  margin-left: 70px;
  justify-content: center;
  display: none;
  margin-top: 120px;
}

.show {
  display: block;
}

.sign2 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 10px;
  color: #131212;
  margin-bottom: 5px;
  text-align: center;
  margin-top: 50px;
}

.sign3 {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 20px;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.label1 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.input2 {
  border: 1px solid rgba(86, 204, 242, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  width: 80%;
  padding: 10px 20px;
  /* color: #ffffff; */
  color: #333333;
  background: rgba(86, 204, 242, 0.05);
  box-shadow: 0px 7px 64px rgb(0 0 0 / 7%);
  border-radius: 8px;
}

.label2 {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.input4 {
  border: 1px solid rgba(86, 204, 242, 0.5);
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  width: 80%;
  padding: 10px 20px;
  color: #333333;
  background: rgba(86, 204, 242, 0.05);
  box-shadow: 0px 7px 64px rgb(0 0 0 / 7%);
  border-radius: 8px;
}

.div1 {
  text-align: center;
  margin-top: 30px;
}

.button1 {
  background: #696969;
  vertical-align: middle;
  margin: 0 auto;
  text-align: center;
  width: 50%;
  height: 45px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  outline: none;
}
