@import url("https://fonts.googleapis.com/css?family=Solway:400");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
} /*16px*/

body {
  background: rgb(244, 244, 244);
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 3rem 0 1.38rem;
  font-family: "Solway", serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.1rem;
}

h2 {
  font-size: 2.741rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text_small {
  font-size: 0.8rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
}

section {
  margin-bottom: 40px;
}

/* nav styles */
.navbar {
  background-color: white;
  padding: 15px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.burger > button {
  border: none;
  background-color: transparent;
  color: red;
  font-size: 2rem;
  font-weight: bold;
}

.burger > button:hover {
  transition: all 0.6s linear;
  transform: rotate(90deg);
}

.nav-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-route > a {
  color: black;
  font-size: 1.1rem;
}

.text {
  font-size: 1.2rem;
}

.nav-links {
  display: block;
  text-align: center;
  height: 0;
  overflow: hidden;
}

.height {
  height: 150px;
  transition: all 0.6s linear;
}

.dropbtn {
  padding-top: 20px;
  background-color: transparent;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  margin: 0 20px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: rgb(45, 170, 212);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-btn {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(45, 170, 212);
  color: white;
  font-weight: bolder;
}

.nav-btn > a {
  color: white;
}

/* section */
.hero {
  background-image: linear-gradient(
      248.08deg,
      rgba(235, 163, 154, 0) 13.9%,
      rgba(47, 81, 92, 0) 100.87%
    ),
    url(./images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  padding: 100px 0;
  overflow: hidden;
}
.hero-text {
  color: white;
  animation: slide 1s ease-in;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  align-items: center;
}

/* positions */

/* forms */
.open-positions {
  width: 90%;
  margin: 0 auto;
  padding: 10px 0;
}

.positions-filter {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tab {
  color: rgb(255, 255, 255, 0.8);
  font-weight: bolder;
}

.active-tab {
  border-bottom: 3px solid rgb(113, 197, 224);
  color: white;
}

.position-group label {
  color: white;
  font-size: 1.2rem;
}

select {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(113, 197, 224);
  padding: 15px;
  margin: 10px 0;
  color: white;
  text-transform: capitalize;
  font-weight: bold;
  border-radius: 10px;
}

option {
  color: black;
  text-transform: capitalize;
  font-size: 1.2rem;
}

.position-group {
  background-color: rgb(255, 255, 255, 0.25);
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: none;
}

.position-btn-container > button {
  color: rgb(113, 197, 224);
  padding: 10px;
  border-radius: 10px;
  border: 2px solid rgb(113, 197, 224);
  background-color: transparent;
  margin-left: 5px;
  font-weight: bolder;
}

.position-btn-container > button:hover {
  background-color: rgb(113, 197, 224);
  color: white;
}

input {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgb(113, 197, 224);
  padding: 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.proceed-btn {
  width: 100%;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: grey;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 1rem;
}

.active {
  display: block;
}
/* trips section */
.trips {
  height: 50vh;
  width: 100%;
}

.trips > .grid {
  grid-template-columns: 1fr 2fr;
}

.slider-container {
  width: 100%;
  margin: 0 auto;
  height: 50vh;
  position: relative;
  overflow: hidden;
  margin-top: 2rem;
}

.slide {
  position: absolute;
  width: 35%;
  padding: 35px;
  display: grid;
  place-items: center;
  transition: all 0.25s ease-in-out;
  text-align: center;
}

.slide-img {
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.slide:nth-child(1) {
  left: 30%;
}
.slide:nth-child(2) {
  left: 70%;
}
.slide:nth-child(3) {
  left: 100%;
}
.slide:nth-child(4) {
  left: 130%;
}
.slide {
  transform: translateX(-200%);
}
/* negative value moves to left */

/* app section */
.app-section {
  height: 70vh;
  overflow: hidden;
}

.app-section > .text {
  width: 100%;
  height: 80%;
  padding: 100px 0;
  background-color: lightblue;
}

.app-section > .text > div {
  width: 80%;
  margin: 0 auto;
}

.app-section > .text h1 {
  font-size: 2rem;
  font-weight: bold;
}

.app-section > .text h1 span {
  color: red;
}
/* wallet section */
.wallet-section {
  margin-top: 100px;
}

.wallet-section-text {
  width: 50%;
}

.wallet-section-text > h1 {
  font-weight: bolder;
}

.wallet-section-text > p {
  font-size: 1rem;
}
/* ep section */
.ep-section {
  grid-template-columns: 1fr 1fr;
  background-color: lightblue;
  position: relative;
}

/* .ep-section-text {
  position: relative;
} */

.ep-section-text > div {
  position: absolute;
  top: -30px;
  left: 20px;
  width: 30%;
  margin: 0 auto;
  background-color: rgb(91, 201, 238);
  padding: 50px 20px;
  border-radius: 20px;
}

.ep-section-text > div > button {
  padding: 15px;
  color: white;
  background-color: red;
  border: none;
  width: 80%;
  border-radius: 10px;
}
/* subscribe section */
.subscribe-section {
  height: 50vh;
}
.input-container {
  text-align: center;
}

.email-input {
  width: 70%;
  padding: 10px;
  border: 2px solid blue;

  background-color: rgb(239, 241, 241);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-container > .btn {
  padding: 10px;
  border: 2px solid blue;

  background-color: red;
}

.card {
  padding: 20px;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background-color: white;
  border-radius: 15px;
}

.card > .text {
  width: 80%;
}

.card > .text h3 {
  font-weight: bold;
}

/* footer section */
.section-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/********** pick up page ************/
.pick-up {
  padding: 7rem 0;
  display: flex;
  justify-content: space-between;
}

/* suggest section */
.suggest-section {
  background-color: lightblue;
}

/* route */
.route-container {
  width: 50%;
  margin: 0 auto;
  background-color: rgb(255, 255, 255, 0.25);
  padding: 30px;
  border-radius: 20px;

  color: white;
}

.route-container > div {
  text-align: center;
}

.route-container > div > h2 {
  font-size: 1.8rem;
}

/****** media querys ******/

@media screen and (max-width: 1020px) {
  section {
    margin-bottom: 0px;
  }

  .grid {
    column-gap: 10px;
  }

  .hero {
    height: auto;
  }

  .trips {
    height: auto;
  }

  .slider-container {
    display: none;
  }

  .app-section {
    height: 50vh;
  }

  .wallet-section {
    height: 50vh;
    margin: 0;
  }

  .wallet-section-text {
    width: 80%;
  }

  .ep-section {
    margin-bottom: 100px;
  }

  .subscribe-section {
    height: 30vh;
  }

  .footer-img-container {
    width: 100%;
    padding: 20px 0;
  }

  .footer-img {
    width: 10%;
  }

  .pick-up {
    display: block;
    padding: 20px;
  }

  .location > input {
    width: 50%;
  }

  .location {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 770px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .nav-links > p {
    font-size: 0.8rem;
  }

  .hero {
    height: auto;
  }

  .trips > .grid {
    grid-template-columns: 1fr;
  }
  .price-container > h1 {
    font-size: 4rem;
  }

  .price-container > p {
    font-size: 1.5rem;
  }

  .app-section {
    height: 70vh;
  }

  .ep-section-text > div {
    position: relative;
    top: 0;
    left: 0;
    width: 90%;
    margin: 0 auto;
  }

  .wallet-section {
    height: 70vh;
  }

  .google-map {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .hero {
    height: auto;
    padding-bottom: 0;
  }

  .open-positions {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
  }

  .price-container > h1 {
    font-size: 3rem;
  }

  .app-section {
    height: auto;
  }

  .wallet-section {
    height: auto;
  }

  .subscribe-section {
    height: auto;
  }

  .card > .text {
    width: 100%;
  }
  .card > .text h3 {
    margin: 0;
  }

  .footer-links {
    width: 50%;
  }
}

@media screen and (max-width: 300px) {
  .hero-text > h2 {
    font-size: 2rem;
    font-weight: bolder;
  }

  .positions-filter > label {
    margin-right: 10px;
  }

  .wallet-section-text {
    width: 100%;
  }

  .input-container > input {
    margin-top: 10px;
    width: 50%;
  }

  .footer-img {
    width: 15%;
  }

  .footer-links > h4 {
    font-size: 1.2rem;
  }
}

/* animation */
@keyframes slide {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(0);
  }
}

@media screen and (min-width: 800px) {
  .route-container {
    width: 30%;
  }

  .burger > button {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .text {
    font-size: 1.2rem;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    overflow: visible;
  }

  .nav-route {
    margin-bottom: 0;
    padding-right: 20px;
  }
}
